/* basic elements */
html {
    margin: 0;
    padding: 0;
}

body {
    font: 8pt georgia, serif;
    color: #333;
    background: #fff url(bordure.png);
    margin: 0;
    border: 1px solid #000;
}

p {
    font: 8pt georgia, serif;
    margin: 0 0 12px 0;
    text-align: justify;
}

h3 {
    font: bold 12pt georgia, serif;
    margin-bottom: 0;
}

abbr {
    font-weight: bold;
    border-bottom: none;
}

a:link, a:visited {
    text-decoration: none;
    color: #900;
}

a:hover, a:active {
    text-decoration: underline;
    color: #c00;
}

/* specific divs */
.page-wrapper {
    width: 604px;
    padding: 0;
    margin: 80px auto 80px 80px;
    border: 2px solid #333;
    position: relative;
    background: #f8f8f8;
}

.intro
header {
    margin-bottom: 0;
    height: 30px;
}

header h1, header h2 {
    margin: 17px 0 0 0;
    padding: 0;
    height: 30px;
}

.summary {
    clear: both;
    margin: 0 0 6px 0;
    width: 600px;
    height: 73px;
) 0 0 no-repeat;
}

.summary p:first-child {
    display: none;
}

.summary p:last-child {
    position: absolute;
    top: 129px;
    left: 430px;
    padding: 0;
    font-size: 8pt;
    z-index: 10;
    font-weight: bold;
    width: 150px;
    text-align: left;
}

.preamble {
    padding: 210px 0 0 20px;
    margin: 0 188px 0 0;
    background: url(Capture d’écran 2015-05-29 à 15.52.15.png) 13 px 0 no-repeat;
    width: 392px;
}

.preamble h3 {
    margin: 0;
    padding: 0;
}

.supporting {
    margin: 0 8px 50px 20px;
    width: 390px;
}

.supporting h3 {
    height: 41px;
    width: 392px;
}

.explanation h3 {
    height: 41px;
    width: 392px;
}

.sidebar {
    width: 170px;
    position: absolute;
    top: 170px;
    left: 422px;
    padding-bottom: 200px;
    font: 7.5pt georgia, serif;
    padding-left: 7px;
}

.sidebar h3 {
    width: 165px;
    height: 15px;
    margin: 0;
}

.sidebar ul {
    margin: 0 0 17px 0;
    padding: 0;
}

.sidebar li {
    line-height: 1.2em;
    list-style-type: none;
    display: block;
    padding-top: 5px;
    margin-left: 0;
}