/* @namespace tei "http://www.tei-c.org/ns/1.0"; */

tei {
    display: block;
    max-width: 40em;
    position: relative;
}

tei[rend="transcript"] {
    white-space: pre-wrap;
}

tei header {
    font-weight: bold;
}

list {
    display: block;
}

item {
    display: block;
}

/* Règles concernant les transcriptions des manuscrits */

rubric {
    display: inline;
    color: brown;
}

hi {
    display: inline;
    font-size: 1.5em;
    color: brown;
}

figure::before {
    display: block;
    margin-top: 0.25em;
    padding-top: 0.25em;
    content: '[' attr(desc) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

figDesc {
    display: block;
}

num {
    display: inline;
    font-variant: small-caps;
}

note {
    display: none;
}

pb::before {
    display: inline-block;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: '[' attr(n) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

cb::before {
    display: inline-block;
    max-width: 6em;
    margin-top: 0.5em;
    padding-top: 0.5em;
    content: '[' attr(n) ']';
    font-family: 'TeX Gyre Chorus',
    'URW Chancery',
    'Zapf Chancery',
    'Lucida Calligraphy',
    'Apple Chancery',
    'Palatino',
    serif;
    color: gray;
}

lb::before {
    display: inline-block;

}

expan {
    display: inline;
}

ex {
    display: inline;
    font-style: italic;
}

g {
    display: inline;
}

g[type="exposant"] {
    font-size: 80%;
    vertical-align: super;
    position: relative;
    top: -0.4em;
}

g[type="pied-de-mouche"]::before {
    content: '❡';
}

/* Règles concernant la description des corpus */

msDesc, bibl {
    display: block;
    border-left: 2px outset gray;
    border-radius: 0px 5px 5px 0px;
    background: rgb(236, 236, 255);
    margin: 0.5em 0;
    padding: 0.5em;
    max-width: 40em;
}

msIdenfifier {
    display: block;
}

settlement {
    display: inline;

}

settlement:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

settlement::after {
    display: inline;
    content: ',';
}

settlement:last-child::after {
    display: inline;
    content: '.';
}

repository {
    display: inline;
}

repository:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

repository::after {
    display: inline;
    content: ',';
}

repository:last-child::after {
    display: inline;
    content: '.';
}

collection {
    display: inline;
}

collection:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

collection::after {
    display: inline;
    content: ',';
}

collection:last-child::after {
    display: inline;
    content: '.';
}

idno {
    display: inline;
}

idno:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

idno::after {
    display: inline;
    content: ',';
}

idno:last-child::after {
    display: inline;
    content: '.';
}

altIdentifier {
    display: inline-block;
}

altIdentifier::before {
    display: inline-block;
    content: '[id. alt.]';
    color: gray;
}

publisher {
    display: inline;
}

publisher:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

publisher::after {
    display: inline;
    content: ',';
}

publisher:last-child::after {
    display: inline;
    content: '.';
}

pubPlace {
    display: inline;
}

pubPlace:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

pubPlace::after {
    display: inline;
    content: ',';
}

pubPlace:last-child::after {
    display: inline;
    content: '.';
}

title{
    display: inline;
}

date {
    display: inline;
}

date:first-of-type::before {
    display: inline;
    content: ' ';
    color: gray;
}

date::after {
    display: inline;
    content: ',';
}

date:last-child::after {
    display: inline;
    content: '.';
}

bibl cite::after,
msDesc cite::after {
    content: ',';
    font-style: normal;
}

bibl cite:last-child::after,
msDesc cite:last-child::after {
    content: '.';
    font-style: normal;
}

a:hover bibl,
a:hover msDesc {
    background: rgb(196, 196, 255);
}
